coverage/
build/
/build/*
build/css/
build/favicons/
build/fonts/
build/images/
build/index.html
build/js/
buid/contracts/
node_modules
*.iml
.idea/
package-lock.json
config/*
config/local/
config/rinkeby/
config/kovan/
config/secrets/infura-token.js
config/ropsten/
coverageEnv/
scTopics
coverage.json
