/* Partials */
@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/df3e10316f2ae8e548a13e195a8265a0.eot);
    src: url(../fonts/df3e10316f2ae8e548a13e195a8265a0.eot?#iefix) format("embedded-opentype"), url(../fonts/11fde73ad9c6a830098a7c42f9dd07ec.woff2) format("woff2"), url(../fonts/cc1f80d2045858a6fd40b6aa624df678.woff) format("woff"), url(../fonts/0f409f15d3a6f4c0734a11da10c10549.ttf) format("truetype"), url(../fonts/Montserrat/Montserrat-Regular.svg#Montserrat-Regular) format("svg");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/c8e380acbd3d7b4942ccd342787e0522.eot);
    src: url(../fonts/c8e380acbd3d7b4942ccd342787e0522.eot?#iefix) format("embedded-opentype"), url(../fonts/ccafbbafde222fbbd4fcce9c0d52399c.woff2) format("woff2"), url(../fonts/17ba62a2566eba556713c2572d7dc551.woff) format("woff"), url(../fonts/260595ee24b8de4ea7c7ab968d3c367a.ttf) format("truetype"), url(../fonts/Montserrat/Montserrat-Bold.svg#Montserrat-Bold) format("svg");
    font-weight: bold;
    font-style: normal;
}

.montserrat, span, body, .montserrat.regular, body.regular {
    font-family: 'Montserrat', serif;
    font-weight: normal;
    font-style: normal;
}

.montserrat.bold, body.bold {
    font-family: 'Montserrat', serif;
    font-weight: bold;
    font-style: normal;
}

body {
    color: #424242;
    font-size: 14px;
    line-height: 22px;
}

html {
    min-height: 100%;
    background: #fff url(/images/app/page-background-2x.jpg) repeat center top;
    background-size: 1200px auto;
}

@media screen and (min-width: 1200px) {
    html {
        background-size: 100% auto;
    }
}

.hide {
    display: none;
}

body,
#app,
.main-container {
    height: 100%;
}

@media screen and (min-width: 3000px) {
    html {
        background-size: cover;
    }
}

.header-spacer {
    display: block;
    height: 75px;
}

.header {
    height: 75px;
    line-height: 75px;
    width: 100%;
    background-color: #fdfefc;
    border-bottom: 1px solid #ffab00;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
}

.header.header-fixed {
    background-color: white;
}

.header .gr-container {
    max-width: 1140px;
}

.header .header-logo {
    height: 24px;
    vertical-align: middle;
    margin-left: 30px;
}

.header .navigation {
    text-align: right;
    margin-right: 30px;
}

.header .navigation .nav-item {
    color: #98999e;
    text-decoration: inherit;
    margin-right: 20px;
    cursor: pointer;
    display: inline-block;
}

.header .navigation .toggle-icon {
    display: none;
}

@media screen and (max-width: 1024px) {
    .header .navigation .nav-item {
        display: none;
    }

    .header .navigation .toggle-icon {
        display: block;
        position: absolute;
        right: 25px;
        top: 30px;
        color: #137abe;
        cursor: pointer;
    }

    .header .navigation.responsive-open {
        position: relative;
        margin-right: 0;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 2;
    }

    .header .navigation.responsive-open .toggle-icon {
        position: absolute;
        right: 25px;
        top: -45px;
    }

    .header .navigation.responsive-open .nav-item {
        display: block;
        margin-right: 25px;
    }
}

@media screen and (max-width: 480px) {
    .header .navigation .toggle-icon {
        top: -45px;
    }
}

@media screen and (max-width: 480px) {
    .header .gr-12\@mobile {
        padding-left: 0;
        padding-right: 0;
    }
}

.footer {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.4);
    padding-top: 40px;
    padding-bottom: 50px;
}

.footer .gr-container {
    max-width: 1140px;
}

.footer .social-container {
    padding-top: 15px;
}

.footer .social-container a {
    color: #03a9f4;
    text-decoration: inherit;
    margin-right: 20px;
    cursor: pointer;
}

.footer .footer-logo {
    height: 24px;
    vertical-align: middle;
    padding-bottom: 10px;
}

.footer .copyright {
    color: #98999e;
    font-size: 14px;
    opacity: 0.8;
    vertical-align: middle;
}

.footer .footer-section .title {
    color: #696a6f;
    font-size: 13px;
    padding-bottom: 10px;
}

.footer .footer-section .content {
    max-width: 100%;
}

.footer .footer-section .content a {
    color: #98999e;
    font-size: 13px;
    opacity: 0.8;
    cursor: pointer;
}

.footer .footer-section .content a:link {
    text-decoration: none;
}

.footer .footer-section .content a:hover {
    text-decoration: underline;
}

.footer h4 {
    color: #137abe;
    font-size: 16px;
    margin-bottom: 15px;
}

.home .slack {
    background-color: #e2f5fc;
    padding-bottom: 0px;
    margin-bottom: 0px;
    display: block;
}

.home .slack div .lean {
    padding-top: 15px;
    margin: 0;
    height: 120px;
}

.home .slack iframe {
    padding-bottom: 0px;
    margin-bottom: 0px;
    width: 100%;
    height: 100px;
}

/* Page styles */
/* Component styles */
.home .section {
    display: table;
    width: 100%;
}

.home .section .content {
    display: table-cell;
}

.home .section .content .gr-container {
    max-width: 960px;
}

.home .section .content-middle {
    display: table-cell;
    vertical-align: middle;
}

.home .section .content-middle .gr-container {
    max-width: 960px;
}

.home .introduction {
    height: 635px;
    width: 100%;
}

.home .introduction h1 {
    font-size: 26px;
}

.home .introduction h2 {
    font-size: 20px;
}

.home .introduction h3 {
    font-size: 16px;
    color: #707070;
}

.home .introduction .already-joined {
    font-size: 14px;
    margin-right: 0px;
    color: #707070;
}

.home .introduction .disclaimer {
    font-size: 12px;
    vertical-align: bottom;
    margin-right: 0px;
    opacity: 0.7;
    color: #707070;
}

.home .introduction .disclaimer-hyperlink {
    font-size: 1rem;
    opacity: 0.7;
    vertical-align: bottom;
    margin-right: 0px;
    text-decoration: underline;
    cursor: pointer;
    color: #707070;
}

.home .introduction .sign-in-hyperlink {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.home .introduction .sign-in-hyperlink:link, .home .introduction .sign-in-hyperlink:visited, .home .introduction .sign-in-hyperlink:hover, .home .introduction .sign-in-hyperlink:active {
    color: #707070;
}

.home .whatis {
    background-color: rgba(255, 255, 255, 1);
    padding-bottom: 70px;
}

.home .whatis .learn-more-hyperlink {
    font-size: 14px;
    text-decoration: underline;
    cursor: pointer;
}

.home .whatis .learn-more-hyperlink:link {
    color: #000000;
}

.home .whatis .learn-more-hyperlink, .home .whatis .learn-more-hyperlink:visited {
    color: #000000;
}

.home .whatis .learn-more-hyperlink, .home .whatis .learn-more-hyperlink:hover {
    color: #707070;
}

.home .whatis .learn-more-hyperlink, .home .whatis .learn-more-hyperlink:active {
    color: #707070;
}

.home .whatis .description {
    text-align: center;
    font-size: 16px;
    opacity: 0.8;
    display: inline-block;
    margin: 0 1px;
}

.home .whatis .description .circle {
    color: #137abe;
    margin: 0 3px;
}

.home .whatis .description .dashed-line {
    border-bottom: 2px dotted #aeafb4;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.home .whatis .description .title {
    color: #137abe;
}

.home .whatis .description .subtitle {
    color: #000000;
}

.home .steps {
    background-color: rgba(255, 255, 255, 0);
    padding-bottom: 25px;
}

.home .steps .wizard-step {
    text-align: center;
    font-size: 16px;
    display: inline-block;
    margin: 0 1px;
}

.home .steps .wizard-step .circle {
    color: #137abe;
    margin: 0 3px;
}

.home .steps .wizard-step .dashed-line {
    border-bottom: 2px dotted #aeafb4;
    width: 80px;
    display: inline-block;
    vertical-align: middle;
}

.home .steps .wizard-step .title {
    color: #137abe;
}

.home .steps .wizard-step .subtitle {
    color: #000000;
    padding-bottom: 45px;
}

.home .values {
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0.6);
}

.home .values .stakeholder {
    width: 280px;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}

.home .values .stakeholder h3 {
    color: #137abe;
    font-size: 18px;
    margin-bottom: 15px;
}

.home .values .stakeholder p {
    text-align: left;
    line-height: 18px;
}

.home .goals {
    padding-bottom: 40px;
    background-color: rgba(255, 255, 255, 0);
}

.home .goals .goal {
    width: 340px;
    max-width: 100%;
    display: inline-block;
    margin-bottom: 30px;
}

.home .goals .goal .icon {
    color: #ffab00;
    margin-bottom: 15px;
}

.home .goals .goal h3 {
    font-size: 18px;
    margin-bottom: 15px;
}

.home .goals .goal p {
    line-height: 18px;
}

.home .roadmap {
    padding-bottom: 25px;
    background-color: rgba(255, 255, 255, 0.4);
}

.home .roadmap .milestone-step {
    width: 220px;
    display: inline-block;
    margin: 0 0 0 0;
    vertical-align: top;
}

.home .roadmap .milestone-step .circle {
    color: #137abe;
    margin: 0 3px;
}

.home .roadmap .milestone-step .dashed-line {
    border-bottom: 2px dotted #aeafb4;
    width: 45%;
    display: inline-block;
    vertical-align: middle;
}

.home .roadmap .milestone-step .title {
    color: #137abe;
    text-align: center;
    font-size: 16px;
}

.home .roadmap .milestone-step .subtitle {
    color: #000000;
    padding: 5px;
    margin-bottom: 45px;
}

.home .team {
    background-color: rgba(255, 255, 255, 0.8);
    padding-bottom: 0px;
}

.home .team .members .gr-4 {
    float: none;
}

.home .team .member {
    width: 280px;
    max-width: 100%;
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
    margin-bottom: 45px;
}

.home .team .member .avatar {
    width: 55%;
    border-radius: 50%;
}

.home .team .member .name {
    font-size: 22px;
    margin-top: 15px;
}

.home .team .member h4 {
    margin-bottom: 15px;
}

.home .team .member p {
    text-align: left;
    line-height: 18px;
}

.section-header {
    text-align: center;
    display: block;
    margin-top: 70px;
}

.section-header h2 {
    color: #03a9f4;
    font-size: 24px;
    margin-bottom: 15px;
}

.section-header .underline {
    width: 200px;
    height: 2px;
    background-color: #ffab00;
    display: inline-block;
}

.section-subheader {
    text-align: left;
    display: block;
    margin-top: 20px;
}

.section-subheader h3 {
    color: #03a9f4;
    font-size: 16px;
}

.section-subheader .underline {
    width: 100%;
    height: 1px;
    background-color: #03a9f4;
    display: inline-block;
    vertical-align: top;
    opacity: 0.5;
}
